*{
    background-color:mistyrose;
    text-align: left;
    color: black;
    /* outline: 3px solid red; */
    max-width: 800px;
    margin: auto;
}

.title{
    font-family: 'Lucida Sans';
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.title h2{
    font-family: 'Lucida Sans';
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.text{
    font-size:large;
    font-family: Georgia;
    
}

.header video{
    display: block;
}

.description{
    font-size:large;
    font-family: Georgia;
    text-align: center;
}
ul{
    list-style-type: square;
}

menu{
    display:flex;
}

.linkbutton{
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    transition-duration: 0.4s;
    border-radius: 25px;
    text-decoration: none;
    text-decoration: underline;
    display: block;
    align-items:center;
    margin-right: auto;
}

.linkbutton:hover{
    color: black;
    background-color:thistle;
}

.mainlinkbtn{
    display: inline-block;
    margin-right: 100px;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    transition-duration: 0.4s;
    border-radius: 25px;
    text-decoration: none;
    text-decoration: underline;
}

.mainlinkbtn:hover{
    color: black;
    background-color:thistle;
}


.menu img{
    display:inline-block;
    max-width: 200px;
    max-height: auto;
    margin-right: 100px;
}

.header img{
    
    max-width: 500px;
    margin: auto;
}

.header p,h1{
    text-align: center;
}

.header p{
    font-size: larger;
}

.footer p{
    text-align: center;
    text-decoration: none;
}

.footer a{
    display: block;
    align-items:center;
    margin-right: auto;
}

button{
    display: block;
    text-align: center;
    font-size: larger;
    border-radius: 25px;
    transition-duration: 0.6s;
    outline: transparent;
}

button:hover{
    background-color: #4CAF50; 
    color: white;
}

ul, ol{
    display: inline-block;
    
    list-style-position: outside;
    padding-left: 25px;
    margin-left: 150px;
}

.btnContainer{
    border: 3px solid red;
    display: flex;
    justify-content:auto;
}

